.primary_btn a, .primary_btn span {
  display: inline-block;
  border-radius: 0px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 16px 24px;
  background-color: var(--primary);
}

.primary_btn a:hover, .primary_btn span:hover {
  text-decoration: none;
  background-color: var(--darkest-primary);
}

.primary_btn span:hover {
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .primary_btn a, .primary_btn span {
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .primary_btn a, .primary_btn span {
    padding: 24px 32px;
  }
}