.secondary_btn a, .secondary_modal_btn span {
  border-radius: 0px;
  border: 2px solid var(--primary);
  width: 100%;
  text-align: center;
  color: var(--primary);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 15px;
  z-index: 1;
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.secondary_btn a:before, .secondary_modal_btn span:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.secondary_btn a:hover:before, .secondary_modal_btn span:hover:before {
  width: 100%;
}

.secondary_btn a:hover, .secondary_modal_btn span:hover {
  text-decoration: none;
  color: var(--white);
}

.large_btn_text {
  display: none;
}

.arrow a {
  padding-right: 44px;
}

.arrow svg {
  position: absolute;
  right: 16px;
  fill: var(--primary);
  transition: all 0.2s ease-in-out;
}

.secondary_btn a:hover svg {
  right: 12px;
  fill: var(--white);
}

@media screen and (min-width: 600px) {
  .secondary_btn a, .secondary_modal_btn span {
    width: auto;
    display: inline-block;
    padding: 16px 24px;
  }

  .arrow a {
    padding: 16px 44px 16px 24px;
  }

  .arrow svg {
    right: 12px;
  }

  .secondary_btn a:hover svg {
    right: 8px;
  }
}

@media screen and (min-width: 767px) {
  .large_btn_text {
    display: block;
  }

  .small_btn_text {
    display: none;
  }
}