.hide_mobile {
  display: none;
}

.extra_space_above a {
  margin-top: 24px;
}

@media screen and (min-width: 600px) { 
  .align_right {
    text-align: right;
  }
}

@media screen and (min-width: 767px) {
  .hide_mobile {
    display: block;
  }

  .faq_bg_img {
    position: absolute;
    max-width: 552px;
    width: 44vw;
    bottom: -120px;
    z-index: -1;
    left: 0;
  }

  .extra_space_above a {
    margin-top: 48px;
  }

  .align_right a {
    margin-top: 48px;
  }
}

@media screen and (min-width: 992px) {
  .reference_section {
    padding: 85px 0 108px;
  }

  .tabs_section {
    padding-top: 92px;
  }

  .section-row {
    max-width: 1136px;
    margin: 0 auto;
  }

  .faq_bg_img {
    bottom: auto;
    top: 218px;
  }
}