.faq_section img {
  display: none;
}

@media screen and (min-width: 600px) { 
  .align_right {
    text-align: right;
  }
}

@media screen and (min-width: 992px) {
  .reference_section {
    padding: 85px 0 108px;
  }

  .tabs_section {
    padding-top: 92px;
  }

  .section-row {
    max-width: 1136px;
    margin: 0 auto;
  }
}