.hero_section {
  padding: 0 16px;
  position: relative;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp .4s linear forwards;
}

.hero_section + section, .hero_section + div {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp .4s linear .4s forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero_row {
  max-width: 1136px;
  padding: 135px 0 72px;
  position: relative;
  margin: 0 auto;
}

.hero_section_image {
  display: none;
}

.hero_section p + div {
  margin-top: 24px;
}

@media screen and (min-width: 767px) {
  .hero_row {
    padding: 145px 0 72px;
  }

  .hero_section_text {
    width: 60%;
  }

  .hero_section_image {
    display: block;
  }

  .hero_section_image object, .hero_section_image img {
    position: absolute;
    bottom: 56px;
    z-index: -1;
    max-width: 37%;
    right: 16px;
    max-height: calc(100% - 160px);
  }
}

@media screen and (min-width: 992px) {
  .hero_section {
    animation: none;
    opacity: 1;
    transform: none;
  }

  .hero_section + section, .hero_section + div {
    animation: fadeUp .4s linear 1s forwards;
  }

  .hero_row {
    padding: 195px 0 168px;
  }

  .hero_section_text {
    width: 100%;
    max-width: 720px;
  }

  .hero_section_text p {
    max-width: 512px;
  }

  .hero_section p + div {
    margin-top: 48px;
  }

  .hero_section_image object, .hero_section_image img {
    max-width: 50%;
    right: 0;
  }

  .lower_img object, .lower_img img {
    bottom: -1px;
  }

  .hero_section_text h1, .hero_section_text p, .hero_section_text p + div {
    opacity: 0;
    transform: translateY(10px);
    animation: appear 0.2s linear forwards 0.4s;
  }

  .hero_section_text p {
    animation-delay: 0.6s;
  }

  .hero_section_text p + div {
    animation-delay: 0.8s;
  }

  .startpage {
    padding: 227px 0 96px;
  }

  .startpage .hero_section_image object, .startpage .hero_section_image img {
    bottom: -24px;
    max-height: calc(100% - 90px);
  }

  .fade .hero_row {
    margin-bottom: -100px;
    position: relative;
  }

  .fade .hero_row:before {
    content: '';
    width: 100%;
    height: calc(100% - 134px);
    background: linear-gradient(180deg, rgba(255,255,255,0.00) 32%, #FFFFFF 88%);;
    position: absolute;
    bottom: -60px;
  }

  .fade .hero_section_image object, .fade .hero_section_image img {
    bottom: -60px;
    max-height: calc(100% - 130px);
    max-width: 55%;
  }


  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}