.video_popup_wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  animation: fadeIn 0.2s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video_popup_wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.88;
}

.video_popup_close {
  position: absolute;
  width: 56px;
  height: 56px;
  right: 0;
  top: 28px;
  text-align: center;
  line-height: 86px;
  cursor: pointer;
}

.video_popup_close:focus {
  outline: none
}

.video_popup_close svg {
  fill: var(--white) !important;
  height: 40px !important;
  width: 40px !important;
}

.video_popup_row {
  max-width: 856px;
  max-height: 95vh;
  overflow: auto;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.video_popup_link {
  margin-top: 24px;
  text-align: right;
}

.popup_video > div {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.popup_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.video_popup_link a {
  color: var(--white);
}

.video_popup_link svg {
  fill: var(--white);
}


@media screen and (min-width: 479px) {
  .video_popup_row {
    width: 80%;
  }
} 

@media screen and (min-width: 767px) {
  .video_popup_close {
    top: 40px;
    right: 40px;
    transition: all .2s ease-in-out;
  }

  .video_popup_close:hover {
    background-color: rgba(255, 255, 255, 0.24);
  }

}