* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body, html {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-body);
  font-family: 'Work Sans', sans-serif;
  line-height: 24px;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
}

::selection {
  background: #fce0e3;
}
::-moz-selection {
  background: #fce0e3;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll .overlay-container {
  z-index: 1;
}

.main-container {
  width: 100%;
}

section {
  padding: 48px 16px;
  position: relative;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  position: relative;
}

.light-text {
  color: var(--white);
}

.light-text .secondary-btn a {
  color: var(--white);
  border-color: var(--white);
}

.light-text .secondary-btn a:hover {
  color: var(--primary);
}

.light-text .secondary-btn a:before {
  background-color: var(--white);
}

.bg-color-section {
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  margin: 0 0 8px 0;
  text-transform: none;
  letter-spacing: normal;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  color: var(--primary);
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 28px;
  line-height: 33px;
}

h4 {
  font-size: 24px;
  line-height: 1.17;
}

h5 {
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-size: 18px;
  line-height: 1;
}

p {
  margin: 0 0 10px 0;
}

p:last-child {
  margin-bottom: 0;
}

p + ul {
  margin-top: 16px;
}

a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  box-shadow: none;
  transition: all .2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
  margin: 0;
  padding-left: 0;
}

ul:last-child {
  margin-bottom: 0;
}

ul li {
  position: relative;
  padding-left: 36px;
  font-size: 16px;
  margin-bottom: 12px;
}

ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 13px;
  top: 10px;
  background-color: #000;
}

ul li:last-child {
  margin-bottom: 0;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin-top: 24px;
}

h1:last-child, 
h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child {
  margin-bottom: 0;
}

object {
  max-width: 100%;
}

.pre-heading {
  font-weight: 500;
  line-height: 19px;
  display: block;
}

.active div {
  max-height: 1000px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.breadcrumbs {
  color: var(--primary);
  font-weight: 500;
  font-size: 16px;
}

.breadcrumbs span {
  opacity: 0.4;
}

.breadcrumbs + h1 {
  margin-top: 8px;
}

.content-container-posts {
  padding-top: 48px;
  margin-top: 48px;
  border-top: 1px solid var(--light-grey)
}

.content-container-posts h2 {
  margin-bottom: 24px;
}

.video-btn-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  outline: none;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 56px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: var(--white);
  transition: all 0.2s ease-in-out;
  transform-origin: center center;
}

.video-btn:before {
  content: '';
  width: 46px;
  height: 46px;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 5px;
  box-shadow: 0px 0px 56px 0px rgba(36, 2, 5, 0.56);
  transition: all .2s ease-in-out;
}

.video-btn-wrapper:hover .video-btn:before  {
  box-shadow: 0px 0px 72px 0px rgb(152, 13, 25);
}

.video-btn svg {
  width: 56px !important;
  height: 56px !important;
  outline: none;
}

.video-btn-wrapper:hover .video-btn {
  transform: translate(-50%, -50%) scale(1.08);
}

.blog-post-wrapper .video-btn {
  top: 124px;
  transform: translate(-50%, 0);
}

.blog-post-wrapper .video-btn-wrapper:hover .video-btn, .blog-post-wrapper .video-btn-wrapper:focus .video-btn {
  transform: translate(-50%, 0) scale(1.08);
}

@media screen and (min-width: 600px) {
  .blog-post-wrapper .video-btn {
    right: 64px;
    left: auto;
    top: 50%;
    transform: translate(0, -50%);
    height: 52px;
  }

  .blog-post-wrapper .video-btn-wrapper {
    width: 183px;
    right: 0;
    left: auto;
  }

  .blog-post-wrapper .video-btn-wrapper:hover .video-btn, .blog-post-wrapper .video-btn-wrapper:focus .video-btn {
    transform: translate(0, -50%) scale(1.08);
  }

  .blog-section .blog-post-wrapper .video-btn {
    top: 124px;
    transform: translate(-50%, 0);
    left: 50%;
    right: auto;
  }

  .blog-section .blog-post-wrapper .video-btn-wrapper:hover .video-btn, .blog-section .blog-post-wrapper .video-btn-wrapper:focus .video-btn {
    transform: translate(-50%, 0) scale(1.08);
  }

  .blog-section .blog-post-wrapper .video-btn-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  section {
    padding: 72px 16px;
  }

  .center-desktop {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 72px;
    line-height: 70px;
  }
  
  h2 {
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 15px;
  }

  h3, h4 {
    font-size: 32px;
    line-height: 38px;
  }

  h5 {
    font-size: 24px;
    line-height: 28px;
  }

  .pre-heading {
    font-weight: 500;
    display: block;
    line-height: 19px;
  }

  .bg-color-section-desktop {
    background-color: var(--primary);
    display: flex;
    flex-flow: row wrap;
  }

  .overlay-container {
    margin-top: -62px;
    display: inline-block;
    width: 100%;
    padding-bottom: 52px;
    opacity: 0;
    position: relative;
    animation: sectionAppear 0.2s linear forwards 1s;
  }

  .breadcrumbs {
    opacity: 0;
    transform: translateY(10px);
    animation: appear 0.2s linear forwards 0.2s;
  }

  .blog-post-wrapper .large .video-btn {
    right: 118px;
  }

  .blog-post-wrapper .video-btn-wrapper {
    width: 287px;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes sectionAppear {
    0% {
      opacity: 0;
      margin-top: -62px;
    }
    100% {
      opacity: 1;
      margin-top: -72px;
    }
  }
}